<div class="moves">
    <div id="box-1" class="move-1 square">
        <div class="icon-1"></div>
    </div>
    <div id="box-2" class="move-2 square">
        <div class="icon-2"></div>
    </div>
    <div id="box-3" class="move-3 square">
        <div class="icon-3"></div>
    </div>
    <div id="box-4" class="move-4 square">
        <div class="icon-4"></div>
    </div>
    <div id="box-5" class="move-5 square">
        <div class="icon-5"></div>
    </div>
    <div id="box-6" class="move-6 square">
        <div class="icon-6"></div>
    </div>
    <div id="box-7" class="move-7 square">
        <div class="icon-7"></div>
    </div>
    <div id="box-8" class="move-8 square">
        <div class="icon-8"></div>
    </div>
    <div id="box-9" class="move-9 square">
        <div class="icon-9"></div>
    </div>
    <div id="box-10" class="move-10 square">
        <div class="icon-10"></div>
    </div>
    <div id="box-11" class="move-11 square">
        <div class="icon-11"></div>
    </div>
    <div id="box-12" class="move-12 square">
        <div class="icon-12"></div>
    </div>
    <div id="box-13" class="move-13 square">
        <div class="icon-13"></div>
    </div>
    <div id="box-14" class="move-14 square">
        <div class="icon-14"></div>
    </div>
</div>