<!DOCTYPE html>
<html lang="pt-BR">

<head>

    {% include 'sitesinais/partials/head.html' %}
    <title>{% block title %}Sinais {% endblock %}| TiroCerto</title>

</head>

<body>
    <section class="container">

        {% include 'sitesinais/partials/header.html' %}

        <section class="trial-content">
            <div class="moves-content">
                {% include 'sitesinais/partials/dashboard/last_14.html' %}
            </div>
            <div class="row"></div>
            <div class="trial-page">
                {% include 'sitesinais/partials/dashboard/signals.html' %}
                {% include 'sitesinais/partials/dashboard/result.html' %}
            </div>
            <div class="row"></div>
        </section>

        {% include 'sitesinais/partials/footer.html' %}
        
    </section>
</body>
<script src="js/getDB.js"></script>

</html>